[submodule "extern/SDL"]
	path = engine/extern/SDL
	url = https://github.com/libsdl-org/SDL
	branch = SDL2
[submodule "extern/entt"]
	path = engine/extern/entt
	url = https://github.com/skypjack/entt
[submodule "extern/glm"]
	path = engine/extern/glm
	url = https://github.com/g-truc/glm
[submodule "extern/SDL_image"]
	path = engine/extern/SDL_image
	url = https://github.com/libsdl-org/SDL_image
	branch = SDL2
[submodule "extern/resmanager"]
	path = engine/extern/resmanager
	url = https://github.com/SimonMaracine/resource-manager
[submodule "engine/extern/assimp"]
	path = engine/extern/assimp
	url = https://github.com/assimp/assimp
